$MAX_WIDTH: 100%;

.calendar {
    position: relative;

    margin: 0 auto;
    margin-top: -15px;

    max-width: 330px;
}

.flatpickr-input,
.numInputWrapper {
    display: none !important;
    visibility: hidden !important;
}
.calendar-value {
    position: absolute;
    top: 0%;
    left: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    border: 1px solid var(--gray-200);
    padding: 12px 16px;
    border-radius: 8px;

    .arrow {
        max-width: 10px;
        min-width: 10px;
        height: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: rotate(-180deg);
    }

    .value {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        font-size: var(--text-14);
        line-height: var(--lh-20);
        font-weight: var(--fw-400);
        color: var(--gray-900);

        .icon {
            max-width: 20px;
            min-width: 20px;
            height: 20px;

            margin-right: 6px;

            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    fill: var(--gray-400) !important;
}
.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
    fill: var(--gray-400) !important;
}
.flatpickr-months .flatpickr-prev-month:active svg,
.flatpickr-months .flatpickr-next-month:active svg {
    fill: var(--orange-600) !important;
}
.flatpickr-calendar {
    border: none;
    border-radius: 8px;
    position: relative;
    box-shadow: none;

    width: $MAX_WIDTH !important;
}

.flatpickr-days {
    width: 100% !important;
}

.dayContainer + .dayContainer {
    box-shadow: none;
}

.flatpickr-months {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 5px;
    .flatpickr-month {
        height: 16px;
    }

    .flatpickr-next-month,
    .flatpickr-prev-month,
    .flatpickr-prev-month.flatpickr-disabled,
    .flatpickr-next-month.flatpickr-disabled {
        display: block;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.flatpickr-day,
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
    font-size: var(--text-14);
    font-weight: var(--fw-400);

    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 42px;
    line-height: 42px;
    padding: 0 0.25em;
    background-color: transparent;
    border: 1px solid transparent;
    box-sizing: border-box;
    color: inherit;
    cursor: pointer;
    text-align: center;
    border-radius: 50%;
    color: var(--gray-1000);
    opacity: 0.67;

    &.selected {
        color: var(--white);
        background-color: var(--orange-600);
        border: 1px solid var(--orange-600);
        opacity: 1;
    }
    &.nextMonthDay,
    &.prevMonthDay {
        color: var(--gray-1000);
        opacity: 0.67;

        &:hover {
            background: var(--orange-200);
            border-color: var(--orange-200);
            color: var(--orange-600);
        }
        &.selected {
            color: var(--orange-600);
            background-color: var(--orange-200);
            border: 1px solid var(--orange-600);
            opacity: 1;
        }
    }
}
.flatpickr-day:hover {
    cursor: pointer;
    outline: 0;
    background: var(--orange-200);
    border-color: var(--orange-200);
    color: var(--orange-600);
}

.flatpickr-day.flatpickr-disabled,
.flatpickr-day.flatpickr-disabled:hover {
    cursor: not-allowed;
    color: var(--gray-600);
    background-color: transparent;
    border-color: transparent;
}

.numInputWrapper {
    width: auto !important;
    &:hover {
        background: transparent;
    }
}

.flatpickr-current-month span.cur-month:hover {
    background: transparent;
}

.flatpickr-current-month input.cur-year[disabled],
.flatpickr-current-month input.cur-year[disabled]:hover {
    color: var(--gray-900);
}

.flatpickr-current-month {
    color: var(--gray-900);
    font-size: var(--text-13) !important;
    font-weight: var(--fw-400) !important;
    line-height: var(--lh-16) !important;
    padding-top: 0;
    span.cur-month {
        font-weight: 400;
    }
}
.flatpickr-weekdays {
    text-transform: uppercase;
    height: 42px;
    text-align: center;
    overflow: hidden;
}

span.flatpickr-weekday {
    color: var(--gray-600);

    font-size: var(--text-12);
    line-height: var(--lh-14);
    font-weight: var(--fw-400);
}

.flatpickr-rContainer .flatpickr-weekday,
.flatpickr-rContainer .flatpickr-day {
    width: 14.2857142857%;
    max-width: 14.2857142857%;
}

.flatpickr-weekdays .flatpickr-weekdaycontainer {
    width: $MAX_WIDTH;
    flex: 0 0 auto;
}

.dayContainer {
    padding: 0;
    outline: 0;
    text-align: left;
    width: $MAX_WIDTH;
    min-width: $MAX_WIDTH;
    max-width: $MAX_WIDTH;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 1;
}
