@import "_nullstyles.scss";

body {
    background-color: #fff;
    height: 3000px;
}

.wrapper {
    height: 100%;

    padding-bottom: 90px;
}
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.page-body {
    @import "_body.scss";
    @import "_status.scss";
    @import "_response.scss";
    @import "_chose.scss";
}
@import "_actions.scss";
@import "_elements.scss";
@import "_modal.scss";
@import "_calendar.scss";
@import "_timeline.scss";
@import "_decline.scss";
