.actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    &__item {
        margin-right: 16px;

        &:last-child {
            margin-right: 0;
        }
    }
}
