// Я - Заказчик
// Я - Исполнитель
&--client,
&--executor {
    .menu-list__item {
        &.active {
            // background-color: var(--blue-50);

            .icon__colorize--fill {
                fill: var(--blue-600);
            }
            .icon__colorize--stroke {
                stroke: var(--blue-600);
            }

            .text {
                .title {
                    color: var(--blue-600);
                }
            }

            .counter {
                color: var(--white);
                background-color: var(--blue-600);
            }
        }
    }
}

// Я - работодатель
// Я - соискатель
&--employer,
&--applicant {
    .menu-list__item {
        &.active {
            // background-color: var(--orange-100);

            .icon__colorize--fill {
                fill: var(--orange-600);
            }
            .icon__colorize--stroke {
                stroke: var(--orange-600);
            }
            .text {
                .title {
                    color: var(--orange-600);
                }
            }
            .counter {
                color: var(--white);
                background-color: var(--orange-600);
            }
        }
    }
}

// Я - Продавец
// Я - Покупатель
&--buyer,
&--seller {
    .menu-list__item {
        &.active {
            // background-color: var(--red-50);

            .icon__colorize--fill {
                fill: var(--red-300);
            }
            .icon__colorize--stroke {
                stroke: var(--red-300);
            }

            .text {
                .title {
                    color: var(--red-300);
                }
            }

            .counter {
                color: var(--white);
                background-color: var(--red-300);
            }
        }
    }
}

&--user {
    .menu__switcher .main .text .title::after {
        opacity: 1;
    }
    .menu-list__item {
        .icon__colorize--fill {
            fill: var(--gray-800);
        }
        .icon__colorize--stroke {
            stroke: var(--gray-800);
        }

        .text {
            .title {
                &::after {
                    opacity: 1;
                }
            }
        }

        &.active {
            // background-color: var(--gray-150);
            .icon__colorize--fill {
                fill: var(--gray-1000);
            }
            .icon__colorize--stroke {
                stroke: var(--gray-1000);
            }

            .text {
                .title {
                    color: var(--gray-1000);
                }
            }

            .counter {
                color: var(--gray-900);
                background-color: var(--gray-200);
            }
        }
    }
}
